p Hi #{username},
p Bạn đã yêu cầu lấy lại mật khẩu, nếu đây không phải là bạn, vui lòng bỏ qua email này.
p Click vào đường dẫn bên dưới để lấy lại mật khẩu
a(href=`http://localhost:3000/#/forgot-password/${token}`) Lấy lại mật khẩu